/* Olympic Headline Regular */
@font-face {
    font-family: 'Olympic Headline';
    src: url('../fonts/olympic-headline/OlympicHeadline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Olympic Headline Italic */
@font-face {
    font-family: 'Olympic Headline';
    src: url('../fonts/olympic-headline/OlympicHeadline-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Olympic Sans Regular */
@font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/olympic-sans/OlympicSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Olympic Sans Italic */
@font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/olympic-sans/OlympicSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Olympic Sans Bold */
@font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/olympic-sans/OlympicSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Olympic Sans Bold Italic */
@font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/olympic-sans/OlympicSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Olympic Sans Medium */
@font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/olympic-sans/OlympicSans-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

/* Olympic Sans Medium Italic */
@font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/olympic-sans/OlympicSans-MediumItalic.ttf') format('truetype');
    font-weight: medium;
    font-style: italic;
}
