//ici il faut ajouter les caratcteristiques des variables globales : h1, h2, p, etc..
//Ajouter que des styles globaux comme font-size ou font weight, line-height etc.
//les paddings ou margin des balises du text (h, p ou autre) se mettent dans les styles specifique de chaque page, car on peut avoir besoin d'avoir un padding plus grad ou plus petit selon le cas

@import 'variables';
@import 'mixin';

body {
  font-family: 'Olympic Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Olympic Headline', sans-serif;
}
.body-content {
  display: flex;
  flex-direction: column;
}

h1 {
  @include h1-font;
}

h2 {
  margin: rem(60) 0 rem(30) 0;
  @include h2-font;
}

h3 {
  @include h3-font;
}

h4 {
  @include h4-font;
}

h5 {
  @include h5-font;
}

h6 {
  @include h6-font;
}

p {
  @include p-font;
}

.page-size {
  margin: auto;
  @include page--size;
}

.nav {
  border-radius: rem(15);
  background: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: rem(90);
  justify-content: space-between;
  padding: 0;
  position: fixed;
  z-index: 100;
  top: rem(20);
  .logo-navbar {
    margin-left: rem(50);
  }
  .nav-link {
    align-items: center;
    display: flex;
    a.nav__link {
      align-items: center;
      display: flex;
      color: $black;
      flex-direction: column;
      font-weight: 500;
      margin: 0 rem(35);
      text-decoration: none;
      &:hover {
        border-radius: 50%;
        &.événements {
          background-color: $light-blue;
        }
        &.agenda {
          background-color: $light-green;
        }
        &.carte {
          background-color: $light-red;
        }
        &.spots {
          background-color: $light-yellow;
        }
      }
    }
  }
  @include navbar;
}


#root {
  line-height: 1.5;
  font-weight: 500;
  margin-top: rem(120);
}

.site-footer {
  .page-size {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .socials {
      a {
        margin: 0 rem(15);
        text-decoration: none;
      }
    }
    p {
      margin: rem(60) 0 rem(30) 0;
    }
  }
}


