//ici il faut ajouter les caratcteristiques des variables globales : h1, h2, p, etc..
//Ajouter que des styles globaux comme font-size ou font weight, line-height etc.
//les paddings ou margin des balises du text (h, p ou autre) se mettent dans les styles specifique de chaque page, car on peut avoir besoin d'avoir un padding plus grad ou plus petit selon le cas

@import 'variables';
@import 'mixin';

body {
  font-family: 'Olympic Sans', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Olympic Headline', sans-serif;
}
.body-content {
  display: flex;
  flex-direction: column;
  @include body-content-responsive;
}

h1 {
  @include h1-font;
}

h2 {
  margin-top: rem(29);
  margin-bottom: rem(0);
  @include h2-font;
}

h3 {
  @include h3-font;
}

h4 {
  @include h4-font;
}

h5 {
  @include h5-font;
}

h6 {
  @include h6-font;
}

p {
  @include p-font;
}

#root {
  line-height: 1.5;
  font-weight: 500;
}
