@import 'variables';

@mixin phone {
  @media screen and (min-width: $resolution-phone) {
    @content
  }
}
@mixin tablet {
  @media screen and (min-width: $resolution-tablet) {
    @content
  }
}
@mixin small-desktop {
  @media screen and (min-width: $resolution-small-desktop) {
    @content
  }
}
@mixin large-desktop {
  @media screen and (min-width: $resolution-large-desktop) {
    @content
  }
}

@mixin body-content-responsive {
  @media screen and (min-width: $resolution-phone) {
    padding: 0 rem(15);
  }
  @media screen and (min-width: $resolution-tablet) {
    padding: 0 rem(104);
  }
}

@mixin navbar-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: none;
  }
  @media screen and (min-width: $resolution-tablet) {
    display: flex;
    justify-content: center;
  }
}

@mixin burgermenu-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: block;
  }
  @media screen and (min-width: $resolution-tablet) {
    display: none;
  }
}

@mixin nav-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: none;
  }
  @media screen and (min-width: $resolution-tablet) {
    display: flex;
    width: 85%;
    .logo-navbar {
      img {
        width: 85px;
      }
    }
    .nav-link {
      a.nav__link {
        padding: 0;
      }
    }
  }
  @media screen and (min-width: $resolution-small-desktop) {
    .logo-navbar {
      img {
        width: 70%;
      }
    }
    .nav-link {
      a.nav__link {
        padding: rem(12) rem(18);
      }
    }
  }
  @media screen and (min-width: $resolution-large-desktop) {
    width: rem(1400);
  }
}

@mixin h1-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(48);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(60);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(72);
  }
}

@mixin h2-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(36);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(48);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(60);
  }
}

@mixin h3-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(30);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(36);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(48);
  }
}

@mixin h4-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(24);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(30);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(36);
  }
}

@mixin h5-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(18);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(24);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(30);
  }
}

@mixin h6-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(14);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(18);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(24);
  }
}

@mixin p-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(12);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(14);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(18);
  }
}

@mixin hero-text-responsive {
  @media screen and (min-width: $resolution-phone) {
    padding: 0 rem(15);
  }
  @media screen and (min-width: $resolution-tablet) {
    padding: 0 rem(104);
  }
}

@mixin map-item-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: flex;
    flex-direction: column;
    .map-info {
      margin-right: 0;
      width: 100%;
    }
    .map-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  @media screen and (min-width: $resolution-tablet) {
    flex-direction: row;
    .map-info {
      margin-right: 60px;
      width: 50%;
    }
    .map-img {
      width: 50%;
    }
  }
}

@mixin cta-container-responsive {
  @media screen and (min-width: $resolution-phone) {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: $resolution-tablet) {
    flex-direction: row;
    justify-content: flex-end;
  }
}