@import 'variables';

@mixin phone {
  @media screen and (min-width: $resolution-phone) {
    @content
  }
}
@mixin tablet {
  @media screen and (min-width: $resolution-tablet) {
    @content
  }
}
@mixin small-desktop {
  @media screen and (min-width: $resolution-small-desktop) {
    @content
  }
}
@mixin large-desktop {
  @media screen and (min-width: $resolution-large-desktop) {
    @content
  }
}

@mixin navbar {
  @media screen and (min-width: $resolution-phone) {
    display: none;
  }
  @media screen and (min-width: $resolution-tablet) {
    display: flex;
    width: 95%;
    .logo-navbar {
      img {
        width: 85px;
      }
    }
  }
  @media screen and (min-width: $resolution-small-desktop) {
    width: rem(1400);
    .logo-navbar {
      img {
        width: 70%;
      }
    }
  }
}
@mixin page--size {
  @media screen and (min-width: $resolution-phone) {
    width: 95%;
  }
  @media screen and (min-width: $resolution-small-desktop) {
    width: calc($page-size * 1px);
  }
}

@mixin h1-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(48);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(60);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(72);
  }
}

@mixin h2-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(36);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(48);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(60);
  }
}

@mixin h3-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(30);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(36);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(48);
  }
}

@mixin h4-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(24);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(30);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(36);
  }
}

@mixin h5-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(18);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(24);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(30);
  }
}

@mixin h6-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(14);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(18);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(24);
  }
}

@mixin p-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(12);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(14);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(18);
  }
}
