@import 'variables';

@mixin phone {
  @media screen and (min-width: $resolution-phone) {
    @content
  }
}
@mixin tablet {
  @media screen and (min-width: $resolution-tablet) {
    @content
  }
}
@mixin small-desktop {
  @media screen and (min-width: $resolution-small-desktop) {
    @content
  }
}
@mixin large-desktop {
  @media screen and (min-width: $resolution-large-desktop) {
    @content
  }
}

@mixin body-content-responsive {
  @media screen and (min-width: $resolution-phone) {
    padding: 0 rem(16);
    margin-top: 140px;
  }
  @media screen and (min-width: $resolution-tablet) {
    padding: 0 rem(104);
    margin-top: 0;
  }
}

@mixin navbar-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: none;
  }
  @media screen and (min-width: $resolution-tablet) {
    display: flex;
    justify-content: center;
  }
}

@mixin burgermenu-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: block;
    &.active {
      display: none;
    }
  }
  @media screen and (min-width: $resolution-tablet) {
    display: none;
  }
}

@mixin nav-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: none;
  }
  @media screen and (min-width: $resolution-tablet) {
    display: flex;
    width: 85%;
    .logo-navbar {
      margin-left: rem(16);
      img {
        width: 85px;
      }
    }
    .nav-link {
      a.nav__link {
        padding: 0;
      }
    }
  }
  @media screen and (min-width: $resolution-small-desktop) {
    .logo-navbar {
      margin-left: rem(50);
      img {
        width: 70%;
      }
    }
    .nav-link {
      a.nav__link {
        padding: rem(12) rem(18);
      }
    }
  }
  @media screen and (min-width: $resolution-large-desktop) {
    width: rem(1100);
    height: rem(120);
  }
}

@mixin h1-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(48);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(60);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(72);
  }
}

@mixin h2-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(36);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(48);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(60);
  }
}

@mixin h3-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(30);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(36);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(48);
  }
}

@mixin h4-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(24);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(30);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(36);
  }
}

@mixin h5-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(18);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(24);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(30);
  }
}

@mixin h6-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(14);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(18);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(24);
  }
}

@mixin p-font {
  @media screen and (min-width: $resolution-phone) {
    font-size: rem(12);
  }
  @media screen and (min-width: $resolution-tablet) {
    font-size: rem(14);
  }
  @media screen and (min-width: $resolution-small-desktop) {
    font-size: rem(18);
  }
}

@mixin hero-text-responsive {
  @media screen and (min-width: $resolution-phone) {
    align-items: center;
    background-color: white;
    border-top-left-radius: rem(5) rem(5);
    border-top-right-radius: rem(5) rem(5);
    color: black;
    flex-direction: column;
    justify-content: center;
    margin: 0 rem(16);
    padding: 0 rem(15);
    display: flex;
    text-align: center;
    bottom: rem(-150);

    .line-and-text {
      .line {
        background-color: black;
      }
      h1 {
        text-align: center;
      }
    }
  }
  @media screen and (min-width: $resolution-tablet) {
    background-color: transparent;
    color: white;
    display: block;
    margin: 0;
    padding: 0 rem(104);
    bottom: 0;
    .line-and-text {
      .line {
        background-color: white;
      }
      h1 {
        text-align: center;
      }
    }
  }
}

@mixin hero-section-home-responsive {
  @media screen and (min-width: $resolution-phone) {
    background: url(../video/video_paris_JO2024.mov);
    height: rem(550);
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: $resolution-tablet) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 66.29%, rgba(0, 0, 0, 0.20) 100%), url(../video/video_paris_JO2024.mov);
    height: rem(750);
    background-size: cover;
    background-position: center;
  }
}

@mixin hero-section-spots-responsive{
  @media screen and (min-width: $resolution-phone) {
    background: url(../images/113a5093eb22fce8a8bbdc7b58bd5eb0804bf318.jpg) lightgray 50% / cover no-repeat;
    height: rem(550);
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: $resolution-tablet) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 52.5%, rgba(0, 0, 0, 0.67) 89%), url(../images/113a5093eb22fce8a8bbdc7b58bd5eb0804bf318.jpg) lightgray 50% / cover no-repeat;
    height: rem(650);
    background-size: cover;
    background-position: center;
  }
}

@mixin hero-section-event-responsive{
  @media screen and (min-width: $resolution-phone) {
    background: url(../images/Tourne_des_Drapeaux.jpg) lightgray 1.199px -188.208px / 100% 174.545% no-repeat;
    height: rem(550);
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: $resolution-tablet) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 60%, rgba(0, 0, 0, 0.25) 64.41%), url(../images/Tourne_des_Drapeaux.jpg) lightgray 1.199px -188.208px / 100% 174.545% no-repeat;
    height: rem(650);
    background-size: cover;
    background-position: center;
  }
}

@mixin hero-section-sport-responsive{
  @media screen and (min-width: $resolution-phone) {
    background: url(../images/Paris-2024-Ballon-de-basketball.png) lightgray 0.812px -0.096px / 100% 172.973% no-repeat;
    height: rem(550);
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: $resolution-tablet) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(../images/Paris-2024-Ballon-de-basketball.png) lightgray 0.812px -0.096px / 100% 172.973% no-repeat;
    height: rem(650);
    background-size: cover;
    background-position: center;
  }
}

@mixin hero-section-map-responsive{
  @media screen and (min-width: $resolution-phone) {
    background: url(../images/map.jpg) lightgray 1.199px -188.208px / 100% 174.545% no-repeat;
    height: rem(550);
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: $resolution-tablet) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 60%, rgba(0, 0, 0, 0.25) 64.41%), url(../images/map.jpg) lightgray 1.199px -188.208px / 100% 174.545% no-repeat;
    height: rem(650);
    background-size: cover;
    background-position: center;
  }
}

@mixin map-item-responsive {
  @media screen and (min-width: $resolution-phone) {
    display: flex;
    flex-direction: column;
    .map-info {
      margin-right: 0;
      width: 100%;
    }
    .map-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  @media screen and (min-width: $resolution-tablet) {
    flex-direction: row;
    .map-info {
      margin-right: 60px;
      width: 50%;
    }
    .map-img {
      width: 50%;
    }
  }
}

@mixin cta-container-responsive {
  @media screen and (min-width: $resolution-phone) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  @media screen and (min-width: $resolution-tablet) {
    flex-direction: row;
  }
}


@mixin filter-component-responsive {
  @media screen and (min-width: $resolution-phone) {
    flex-direction: column;
    width: 80%;
    height: auto;
    #title, #site, #startDate, #location, #starting_date, #SpotName,#SportLabel {
      margin: rem(10) rem(25);
      &:last-child {
        margin-right: rem(25);
      }
    }
  }
  @media screen and (min-width: $resolution-tablet) {
    flex-direction: row;
    width: fit-content;
    height: rem(82);
    #title, #site, #startDate, #location, #starting_date, #SpotName,#SportLabel {
      margin-right: rem(25);
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@mixin sport-cards-home-responsive {
  @media screen and (min-width: $resolution-phone) {
    justify-content: center;
  }
  @media screen and (min-width: $resolution-tablet) {
    justify-content: space-around;
  }
}

@mixin info-slider-sports-responsive {
  margin-top: 0;
  @media screen and (min-width: $resolution-phone) {
    align-items: center;
    h6 {
      text-align: center;
      transform: rotate(0);
    }
    .arrow-container {
      margin-right: 0;
    }
  }
  @media screen and (min-width: $resolution-tablet) {
    align-items: flex-end;
    margin-top: rem(32);
    h6 {
      text-align: left;
      transform: rotate(19.078deg);
    }
    .arrow-container {
      margin-right: rem(300);
    }
  }
}
