$resolution-phone: 390px;
$resolution-tablet: 768px;
$resolution-small-desktop: 1024px;
$resolution-large-desktop: 1440px;

$page-size: 1400;

$black: #000;
$white: #fff;
$light-blue: #54a5e0;
$light-red: #f6787b;
$light-yellow: #ffcf70;
$light-green: #42bd7e;

