@import '../partials/_mixin.scss';
@import '../partials/_variables.scss';

.filter-component {
  border-radius: rem(15);
  background: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  box-sizing: border-box;
  padding: rem(30);
  top: rem(20);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(21);
}

.dropdown {
  background-color: $white;
  border: rem(1.5) solid $black;
  border-radius: rem(5);
  color: $black;
  padding: rem(10);
  font-size: rem(14);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.filter-button {
  background-color: $white;
  border: rem(1.5) solid $black;
  border-radius: rem(5);
  color: $black;
  padding: rem(10);
  font-size: rem(14);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
