@import '../partials/_mixin.scss';
@import '../partials/_variables.scss';

.body-content .hero-section {
    background-size: cover;
    height: 650px;
    padding: 0;
    margin: 0 rem(-104);
    display: flex;
    flex-direction: column;
}

.hero-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    h1 {
        margin-bottom: 0;
    }
    @include hero-text-responsive;
}

.line-and-text {
    display: flex;
    align-items: center;
    margin-bottom: rem(38);
}

.line {
    width: 2px;
    height: 60px;
    background-color: white;
    margin-right: 12px;
}

.line-and-text p {
    width: 520px;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
