@import '../partials/_mixin.scss';
@import '../partials/_variables.scss';

.body-content .hero-section {
    background-size: cover;
    height: rem(650);
    padding: 0;
    margin: 0 rem(-104);
    display: flex;
    flex-direction: column;
}

.hero-container {
    position: relative;
    height: 100%;
    overflow: visible;
}

.hero-text {
    position: absolute;
    left: 0;
    color: white;
    h1 {
        margin-bottom: 0;
    }
    @include hero-text-responsive;
}

.line-and-text {
    display: flex;
    align-items: center;
    margin-bottom: rem(38);
    text-align: left;
}

.line {
    width: rem(2);
    height: rem(60);
    margin-right: rem(12);
}

.line-and-text p {
    width: rem(520);
    @media (max-width: rem(767)) {
        width: 100%;

    }
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: unset;
    z-index: -1;
}
