@import '../partials/_mixin.scss';
@import '../partials/_variables.scss';

.navbar {
  @include navbar-responsive;
}

.burgermenu {
  .burgermenu-navbar {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;

    .burgermenu-button {
      align-items: center;
      background-color: $white;
      border-radius: rem(8);
      box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      height: 52px;
      margin-right: rem(26);
      width: 52px;
      cursor: pointer;
      position: relative;

      .burgermenu-line {
        background-color: $black;
        border-radius: rem(50);
        height: rem(3);
        width: rem(30);
        transition: all 0.3s ease;
        position: absolute;
      }

      .burgermenu-line:nth-child(1) {
        top: rem(14);
      }

      .burgermenu-line:nth-child(2) {
        top: rem(24);
      }

      .burgermenu-line:nth-child(3) {
        top: rem(34);
      }
    }

    .burgermenu-button.active .burgermenu-line:nth-child(1),
    .burgermenu-button-close.active .burgermenu-line:nth-child(1) {
      transform: rotate(45deg);
      top: rem(24);
    }

    .burgermenu-button.active .burgermenu-line:nth-child(2),
    .burgermenu-button-close.active .burgermenu-line:nth-child(2) {
      opacity: 0;
    }

    .burgermenu-button.active .burgermenu-line:nth-child(3),
    .burgermenu-button-close.active .burgermenu-line:nth-child(3) {
      transform: rotate(-45deg);
      top: rem(24);
    }

    .logo-navbar {
      margin-left: rem(29);
    }
  }
  @include burgermenu-responsive;
}

.nav {
  border-radius: rem(15);
  background: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 1100px;
  height: 120px;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0;
  position: fixed;
  z-index: 100;
  top: rem(20);
  text-align: center;
  display: flex;
  align-items: center;
  .nav-link {
    align-items: center;
    display: flex;
    a.nav__link {
      align-items: center;
      display: flex;
      color: $black;
      flex-direction: column;
      font-weight: 500;
      font-size: rem(16);
      margin: 0 rem(35);
      text-decoration: none;
      .img-link-navbar {
        padding: rem(6);
      }
      &:hover {
        border-radius: 50%;
        &.événements {
          .img-link-navbar {
            background-color: $light-blue;
            aspect-ratio: 1 / 1;
            border-radius: rem(50);
          }
        }
        &.agenda {
          .img-link-navbar {
            background-color: $light-green;
            aspect-ratio: 1 / 1;
            border-radius: rem(50);
          }
        }
        &.carte {
          .img-link-navbar {
            background-color: $light-red;
            aspect-ratio: 1 / 1;
            border-radius: rem(50);
          }
        }
        &.spots {
          .img-link-navbar {
            background-color: $light-yellow;
            aspect-ratio: 1 / 1;
            border-radius: rem(50);
          }
        }
      }
    }
  }
  @include nav-responsive;
}

.header-container {
  .burgermenu-on {
    width: rem(215);
    height: 100vh;
    background: white;
    display: none;
    position: fixed;
    right: 0;
    z-index: 101;
    flex-direction: column;
    overflow-y: auto;
    &.active {
      display: flex;
    }

    .burgermenu-close {
      display: flex;
      justify-content: flex-end;
      margin-top: rem(35);
      margin-right: rem(26);
      .burgermenu-button-close {
        align-items: center;
        background-color: $white;
        border-radius: rem(8);
        box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        height: 52px;
        width: 52px;
        cursor: pointer;
        position: relative;

        .burgermenu-line.close {
          background-color: $black;
          border-radius: rem(50);
          height: rem(3);
          width: rem(30);
          transition: all 0.3s ease;
          position: absolute;
        }

        .burgermenu-line.close:nth-child(1) {
          top: rem(14);
        }

        .burgermenu-line.close:nth-child(2) {
          top: rem(24);
        }

        .burgermenu-line.close:nth-child(3) {
          top: rem(34);
        }
      }

      .burgermenu-button-close .burgermenu-line.close:nth-child(1) {
        transform: rotate(45deg);
        top: rem(24);
      }

      .burgermenu-button-close .burgermenu-line.close:nth-child(2) {
        opacity: 0;
      }

      .burgermenu-button-close .burgermenu-line.close:nth-child(3) {
        transform: rotate(-45deg);
        top: rem(24);
      }
    }
    .burgermenu-icon-link {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      width: 100%;
      .burgermenu-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        &.logo {
          height: 20%;
        }
        .burgermenu-logo-navbar {
          margin-bottom: rem(20);

          a {
            img {
              max-width: 150px;
            }
          }
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 80%;
          text-decoration: none;
          color: $black;
          margin-bottom: rem(20);


          .nav__link {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: rem(16);
          }
        }
        &.icon {
          margin-top: 20%;
        }
      }

    }
  }
}


section, footer {
  &.blurred {
    filter: blur(4px);
    transition: filter 0.3s ease-in-out;
  }
}
