.event {
    .hero-section {
        @include hero-section-event-responsive;
    }

    .events-cards-section {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
        align-items: center;
        padding: 64px 0;

        @media screen and (max-width: $resolution-large-desktop) {
            gap: 16px;
            justify-content: center;

        }
    }
}
