.event {
    .hero-section {
        @include hero-section-event-responsive;
    }

    .events-cards-section {
        display: flex;
        flex-wrap: wrap;
        gap: rem(24);
        justify-content: space-between;
        align-items: center;
        padding: rem(64) 0;

        @media screen and (max-width: $resolution-large-desktop) {
            gap: rem(16);
            justify-content: center;

        }
    }
}
