.event {
    .hero-section {
        @include hero-section-event-responsive;
    }

    .events-cards-section {
        display: flex;
        flex-wrap: wrap;
        gap: rem(32);
        justify-content: space-between;
        align-items: center;
        padding: rem(64) rem(0);

        @media screen and (max-width: $resolution-large-desktop) {
            justify-content: center;
            align-items: center;
        }

    }

}
