.home {
    .hero-section {
        @include hero-section-home-responsive;
    }
    .section1, .section2, .section3 {
        display: flex;
        flex-direction: column;
    }
    .section1,.section2 {
        .sport-cards, .spot-cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
    .section1 {
        .spot-cards {
            .spots-card {
                width: rem(350);
                aspect-ratio: 14 / 19;
                position: relative;
                box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
                background-size: cover;
                flex-shrink: 0;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: rem(5);
                cursor: pointer;
                margin: rem(20);
                .spots-card-description {
                    border-radius: rem(5);
                }
            }
        }
    }
    .section3 {
        .map-item {
            @include map-item-responsive;
            .map-info {
                .info-cta-map {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    @media screen and (max-width: $resolution-tablet) {
                        flex-direction: column;
                        align-content: flex-end;
                        flex-wrap: wrap;
                    }
                    h6 {
                        color: #018C86;;
                        transform: rotate(-20.28deg);
                        width: rem(185.225);
                        @media screen and (max-width: $resolution-tablet) {
                            transform: rotate(20.28deg);
                        }
                    }
                    .arrow-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: rem(10);
                        @media screen and (min-width: $resolution-tablet) {
                            .arrow-desktop {
                                display: block;
                            }
                            .arrow-mobile {
                                display: none;
                            }
                        }
                        @media screen and (max-width: $resolution-tablet) {
                            .arrow-desktop {
                                display: none;
                            }
                            .arrow-mobile {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .cta-container {
        margin-top: rem(81);
    }
}
