@import '../partials/_mixin.scss';
@import '../partials/_variables.scss';


.informations {

  .body-content{
    margin-top: 8rem !important;
  }

  .section1, .section2, .section3 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }
  .section3 {
    .map-item {
      @include map-item-responsive;
    }
  }

  .img-spot img{
    max-width: 50%;
  }


  .link {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    a {
        color: #000; /* Changed to hex value */
        text-decoration: none;
        font-weight: 700;
        border: #000 solid 2px;
        padding: 8px 16px;
        border-radius: 5px;
        gap: 16px;
        align-items: center;

        &:hover {
            background-color: #000; /* Changed to hex value */
            color: #FFF; /* Changed to hex value */
        }
    }
}

}

