.map {
    .hero-section {
        @include hero-section-agenda-responsive;
    }

    .map {
        display: flex;
        flex-direction: column;
        .map-item {
            width: 500px;
            height: 500px;
        }
    }
}
