.sport {
    .hero-section {
        @include hero-section-sport-responsive;
    }
    .body-content {
        .info-slider-sports {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h6 {
                color: #18A0FB;
                transform: rotate(19.078deg);
                width: rem(318.382);
            }
            .arrow-container {
                margin-right: 300px;
                img {
                    transform: rotate(138deg);
                }
            }
        }
    }
    .sport-cards {
        display: flex;
        flex-wrap: wrap;
        gap: rem(40);

        @media screen and (max-width: $resolution-large-desktop) {
            gap: rem(0);
            justify-content: space-between;
        }
        @media screen and (max-width: $resolution-tablet) {
            justify-content: center;
        }

    }
    .slider-container {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .slider-container::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, Opera */
    }

    .slider-slide {
        flex: 0 0 auto;
        scroll-snap-align: start;
        min-width: 200px;  /* Adjust this width based on your card size */
        margin-right: 10px;  /* Space between slides */
    }


}
