.sport {
    .hero-section {
        @include hero-section-sport-responsive;
    }

    .sport-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}
