.sport {
    .hero-section {
        @include hero-section-sport-responsive;
    }
    .body-content {
       /*  .info-slider-sports {
            display: flex;
            flex-direction: column;
            h6 {
                color: #018C86;
                transform: rotate(19.078deg);
                width: rem(318.382);
            }
           .arrow-container {
                img {
                    transform: rotate(138deg);
                }
            }
            @include info-slider-sports-responsive;
        }*/
    }
    .sport-cards {
        display: flex;
        flex-wrap: wrap;
        gap: rem(40);

        @media screen and (max-width: $resolution-large-desktop) {
            gap: rem(0);
            justify-content: space-between;
        }
        @media screen and (max-width: $resolution-tablet) {
            justify-content: center;
        }

    }
    .slider-container {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .slider-container::-webkit-scrollbar {
        display: none;
    }

    .slider-slide {
        flex: 0 0 auto;
        scroll-snap-align: start;
        min-width: rem(200);
        margin-right: rem(10);
    }

    .cta-container {
        margin: rem(24) 0;
    }

}
