.spots {
    .hero-section {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(../images/ski.jpg) lightgray 0.812px -0.096px / 100% 172.973% no-repeat;
        @include hero-section-spots-responsive;    
     }
}

.spots-list-container{
    display: flex;
    justify-content: center;
    }
    
    
    .spots-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(40);
        margin: 0 auto;

        
        @media screen and (max-width: $resolution-large-desktop) {
            justify-content: space-between;
        }
        @media screen and (max-width: $resolution-tablet) {
            justify-content: center;
        }
    }

    .slider{
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;     
        gap: 24px;   
    
    }

    .slider::-webkit-scrollbar {
        display: none;
      }

    .slider {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    }